html{
	box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{
	font-family: roboto;
	color:#000;
	font-size: 1rem;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color:black;
}
.container{
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}
.nav-bar{
	display: flex;
	flex-direction: row;
	background-color: black;
	color: white;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	margin:0px;
	padding: 10px;
}
.jeep-logo{
	height: 1.78571rem;
	width: auto;
	max-width: 100%;
	align-self:flex-start;
	padding-left: 10px;
}
.white-text{
	color: white;
}
.motortrend{
	width: auto;
	height: auto;
	display: block;
	max-width: 50%;
	margin-right: 20px;
	padding-bottom: 20px;
}
.medium{
	font-size: medium;
}
.text-center{
	text-align: center;
}
.block {
	display: block;
}
.grey-6{
	background-color: #d1d1d1;
	border-radius:50%;
	font-size: 10px;
}
.orange-box{
	background-color: #ffba00;
	color: black;
	padding: 14px 25px;
	margin-top: 10px;
}
.font-10px {
	font-size: 8px;
}
.third-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;	
}
.jeep-vehicles {
	display: flex;
	align-items: center;
	justify-content: center;
}
.responsive-images{
	max-width: 30%;
	width: 100%;
	flex:1;
	display: block;
}